@page "/Error"

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Please reload the page. If the problem persists, try logging out and back in.</p>
